<div class="app-info">
    <div class="info-hero-image">
        <div class="info-hero-text">
            <h1>Movie Info</h1>
            <p>An Interactive app with a local JSON integration</p>
        </div>
    </div>
    <div class="info-content">
        <h1>About this app</h1>
        <p>
            this application aims to apply integration techniques with the json file as well as simple notions of design
            and development using the angular framework
        </p>

        <h2>Used Technologies: </h2>

        <ul>
            <li>HTML 5</li>

            <li>CSS 3</li>

            <li>Javascript</li>

            <li>Typescript</li>

            <li>Angular 12</li>

            <li>Angular Material</li>
        </ul>
    </div>
</div>