@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;700&display=swap");

/* Por ser apenas um wireframe optei por preto, branco e escalas de cinza para as cores */
/* Uso de Bebas Neue como fonte pois é uma fonte open source próxima de ITC Machine usada na logo da Blockbuster */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 54px;
}

.logo {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 2.8rem;
}

.sidenav {
    font-weight: 500;
    height: 100%;
    padding-top: 54px;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 26);
}

.sidenav i {
    padding: 0 15px;
}

.sidenav a {
    display: flexbox;
    justify-content: space-around;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: grey;
}

.content-external-area {
    margin-left: 175px;
    padding: 25px;
}
.content-card {
    padding: 25px;
}

.form{
    display: flex;
    justify-content: space-around;
}


input[type=text], input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit], input[type=reset] {
    background-color: #464646;
    font-size: 1.2rem;
    color: white;
    margin: 25px;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #464646;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.content-card-2{
    padding-top: 100px;
}
.content-card-2 h2{
    padding-top: 50px;
}


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .delete-movie{
      font-size: 1.5rem;
      text-align: center;
  }

  .delete-movie a{
    text-decoration: none;
    color: red;
}
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }