* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "item1 item1 item2 item2"
    "item1 item1 item3 item3";
  grid-gap: 10px;
  padding: 10px;
}

.item1 {
  grid-area: item1;
  height: 97vh;
  width: 100%;
  background-color: blue;
}

.item2 {
  grid-area: item2;
  height: 48vh;
  background: linear-gradient(to right, rgb(100, 0, 131), rgb(26, 26, 26));
}

.item3 {
  grid-area: item3;
  background-image: url("../assets/img/minimalistic-header.png");
  height: 48vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.item3 h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
